body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #6EE7B7, #3B82F6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.todo-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 30px rgba(6, 24, 224, 0.651);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  background: #22d3ee;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #06b6d4;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

li.completed span {
  text-decoration: line-through;
  opacity: 0.7;
}

li input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

li button {
  background: #ef4444;
  color: white;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 8px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0 10px 0;
}

.filters button {
  padding: 6px 12px;
  font-size: 14px;
  background: #f3f4f6;
  color: #1e293b;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.filters button:hover {
  background: #d1d5db;
}

@media (max-width: 500px) {
  .todo-container {
    padding: 20px;
  }

  button {
    font-size: 14px;
    padding: 8px 12px;
  }

  input[type="text"] {
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }
}
